@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.Banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;

    .btn-mobile {
        display: none;
    }
    .carousel {
        height: 100% !important;

        .carousel-inner {
            height: 100% !important;

            .carousel-item {
                height: 100% !important;

                img {
                    height: 100% !important;
                    object-fit: cover;
                }
            }
        }

        .carousel-indicators {
            display: none !important;

            button {
                background-color: rgba($color: #000000, $alpha: 1);
                height: 4px;
            }
        }
    }

    .caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
        display: flex;
        // flex-direction: column;
        background: rgba(255, 255, 255, 0.33);
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
        color: #444;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        border-radius: 2px;
        gap: 30px;

        .title {
            flex-basis: 20%;
            h3 {
                padding: 0px 2px;
                text-transform: uppercase !important;
                margin: 0;
                height: 48px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                overflow: hidden;
                font-size: 40px;
                span {
                    position: absolute;
                }
            }
        }
        p {
            font-size: 16px;
            max-width: 40%;
            margin: 0;
        }
    }

    .caption-mobile {
        display: none;
    }
    .carousel-control-prev {
        color: #DDB892 !important;
    }

    .cursor-follow {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        transform-origin: 50% 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        cursor: pointer;
        transition: 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        display: none;
        .cursor-dashed-border {
            content: "";
            position: absolute;
            width: 150px;
            height: 150px;
            border: 2px dashed #FEFAE0;
            border-radius: 50%;
            animation-name: rotation;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
        
        .cursor-follow-text {
            text-align: center;
            text-transform: uppercase;
            pointer-events: none;
            color: white;
            border-radius: 50%;
            background-color: rgba(44, 44, 44,0.8);
           h3 {
                letter-spacing: 4px;
                font-family: 'Bebas Neue', cursive;
                font-weight: bold;
                font-size: 40px;
                line-height: 34px;
             
                transform: translateX(4px) translateY(4px);
                padding: 18px;

            }
        }
    }

    .scale-anim {
        transform: scale(0.8);
        .cursor-dashed-border {
            border: 2px dashed red!important;
        }
    }

    .event-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @keyframes rotation {
        0% {
            transform: rotateZ(0deg);
        }

        100% {
            transform: rotateZ(360deg);
        }
    }

    @keyframes rotation-reverse {
        0% {
            transform: rotateZ(0deg);
        }

        100% {
            transform: rotateZ(-360deg);
        }
    }
}

// Responsive mobile
@media only screen and (max-width: 767px) {
    .caption {
        display: none!important;
    }

    .caption-mobile {
        width: 60%;
        background-color: #D3CCC3;
        left: 20%;
        padding: 10px 8px;
        position: absolute;
        display: flex!important;
        align-items: center;
        justify-content: center;
        bottom: -6%;
    
        color: white;
        text-transform: uppercase;

        h2 {
            margin: 0;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}







/* CSS */
.button-50 {
  appearance: button;
  background-image: none;
  border: 1px solid #D3CCC3;
  box-shadow: #fff 4px 4px 0 0,#D3CCC3 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}







@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}